<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Entraînement à VueJs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   
  </head>
  <body>
   <div id="app">
      <div class="container">
         <div class="row">
            <p class="jumbotron">Login : <input type="text" v-model="user"/> | Vous êtes connecté en tant que {{ user }}</p>
         </div>
         <h1 v-if="commandes.length > 0">Produits commandés:</h1>
         <div class="row">
            <fiche-produit v-for="commande in commandes" v-bind:nom="commande" role="recap"></fiche-produit>
         </div>

         <h1 v-bind:class="affichage">Produits disponibles:</h1>
         <div class="row">
            <fiche-produit v-for="produit in produits" v-bind:nom="produit" v-on:commande-passee="commander" role="commande"></fiche-produit>
         </div>
      </div>
   </div>

   <script>
      Vue.component("fiche-produit", {
         template: `<div class='col-3'>
                     <p class='jumbotron'>{{nom}} <br>
                     <input type="submit" value="Commander" v-on:click="passer_commande(nom)" v-if="role == 'commande'"></p>
                     </div>`,
         props: ["nom", "role"],
         methods: {
            passer_commande: function(produit) {
               this.$emit("commande-passee", produit)
            }
         }
      })
      var app = new Vue({
         el: "#app",
         data: {
            user: "Mathieu",
            produits: ["Pizza", "Hamburger", "Tacos", "Kebab"],
            commandes: [],
            affichage: "display-4"
         },
         methods:{
            commander: function(produit) {
               this.commandes.push(produit);
            }
         }
      })
   </script>
  </body>
</html>